body {
    background-color: #78bec5;
    font-family: 'Indie Flower', cursive;
}

.heading {
    text-align: center;
}

.username-wrapper {
    margin-top: 250px;
    
}

.gender-label {
    margin-right: 20px;
}
/*.form-group {
    margin-left:50px; 
}*/

.play-button {
    position: relative;
    top:5px;
    left: 120px;
}

.main-menu {
    margin-top: 20px;
}

.add-student-wrapper {
    margin-top: 50px;
}

.add-teacher-wrapper {
    margin-top: 50px;
}

.search-student-form {
    margin-top: 50px;
}